main {
  background-color: #000000;
}

.wrapper {
  max-width: 1728px;
  padding: 0 30px;
  margin: 0 auto;
}

.timer-info {
  padding: 92px 0 0 0;
}

.timer-info__subtitle {
  font-family: 'TT Hoves';
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 1;
  color: #ffffff;
  margin: 0 0 0 20px;
}

.timer-info__title {
  font-family: 'TT Hoves';
  font-style: italic;
  font-weight: 275;
  font-size: 224px;
  line-height: 1;
  letter-spacing: 0.01em;
  color: #ffffff;
  margin: 27px 0 0 0;
  position: relative;

  &::before,
  &::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background-color: #ffffff;
    left: 0;
  }

  &::before {
    top: 81px;
  }

  &::after {
    bottom: 30px;
  }
}

.link-blocks {
  display: flex;
  gap: 18px;
  margin: 82px 0 0 15px;
  padding: 0;
  list-style: none;
}

.link-blocks__item {
  font-family: 'TT Hoves';
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 1;
  border: 1px solid #ffffff;
  border-radius: 10px;
  padding: 16px 50px;
}

.link-blocks__link {
  text-decoration: none;
  color: #ffffff;
}

.timer-info__button {
  display: none;
}

// Articles

.articles {
  background-color: #000000;
  padding: 527px 0 25px 0;
}

.articles .wrapper {
  padding: 0 23px;
}

.articles-list {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 22px;

  margin: 0;
  padding: 0;
  list-style: none;
}

.articles-list__link {
  padding: 13px 24px;
  width: 100%;
  height: 100vh;
  max-height: 544px;
  display: flex;
  border-radius: 20px;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.articles-list__image-link {
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.articles-list__image-link img {
  width: 100%;
  height: auto;
}

.articles-list__link::before {
  position: absolute;
  content: '';
  width: 23px;
  height: 26px;
  background-image: url(../images/arrow.svg);
  background-repeat: no-repeat;
  bottom: 12px;
  right: 21px;
}

.articles-list__link--black::before {
  background-image: url(../images/arrow-black.svg);
}

.articles-list__article {
  display: grid;
  border-radius: 20px;
}

.articles-list__article:nth-child(1) {
  grid-area: 1 / 1 / 2 / 7;
}

.articles-list__article:nth-child(2) {
  grid-area: 1 / 7 / 2 / 13;
  grid-template-columns: 34.2% 65.8%;
}

.articles-list__article:nth-child(3) {
  grid-area: 2 / 1 / 3 / 5;
}

.articles-list__article:nth-child(4) {
  grid-area: 2/ 5 /3 /9;
}

.articles-list__article:nth-child(5) {
  grid-area: 2 / 9 / 3 / 13;
}

.articles-list__article:nth-child(6) {
  grid-area: 3/ 1 /4 /7;
  grid-template-columns: 34.2% 65.8%;
}

.articles-list__article:nth-child(7) {
  grid-area: 3 / 7 / 4 / 13;
  grid-template-columns: 34.2% 65.8%;
}

.articles-list__article:nth-child(8) {
  grid-area: 4/ 1 / 5 / 5;
}

.articles-list__article:nth-child(9) {
  grid-area: 4 / 5 / 5 / 11;
  grid-template-columns: 34.2% 65.8%;
}

.articles-list__article:nth-child(9) {
  grid-area: 4 / 5 / 5 / 11;
  grid-template-columns: 34.2% 65.8%;
}

.articles-list__article:nth-child(10) {
  grid-area: 4 / 11 / 5 / 13;
  border: 1px solid #ffffff;
}

.articles-list__article:nth-child(10) .articles-list__link::before {
  display: none;
}

.articles-list__anons {
  font-family: 'TT Hoves';
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  color: #ffffff;
  max-width: 500px;
}

.articles-list__anons--black {
  color: #000000;
}

.articles-list__article:nth-child(1) .articles-list__link {
  background-color: #fdf050;
}

.articles-list__article:nth-child(2) .articles-list__link {
  background-color: #e93323;
}

.articles-list__article:nth-child(3) .articles-list__link {
  background-color: #f0a1c1;
}

.articles-list__article:nth-child(4) .articles-list__link {
  background-color: #f0a1c1;
}

.articles-list__article:nth-child(5) .articles-list__link {
  background-color: #e93323;
}

.articles-list__article:nth-child(6) .articles-list__link {
  background-color: #265bee;
}

.articles-list__article:nth-child(7) .articles-list__link {
  background-color: #265bee;
}

.articles-list__article:nth-child(8) .articles-list__link {
  background-color: #5ecd9c;
}

.articles-list__article:nth-child(9) .articles-list__link {
  background-color: #5ecd9c;
}

.articles-list__article:nth-child(2) .articles-list__image-link {
  background-image: url(../images/grim.png);
}

.articles-list__article:nth-child(6) .articles-list__image-link {
  background-image: url(../images/kiss.png);
}

.articles-list__article:nth-child(7) .articles-list__image-link {
  background-image: url(../images/consoles.png);
}

.articles-list__article:nth-child(9) .articles-list__image-link {
  background-image: url(../images/brigandine.png);
}

@media (max-width: 1512px) {
  .wrapper {
    padding: 0 20px;
  }

  .articles .wrapper {
    padding: 0 20px;
  }

  .timer-info {
    padding: 80px 0 0 0;
  }

  .timer-info__subtitle {
    font-size: 26px;
    margin: 0 0 0 4px;
  }

  .timer-info__title {
    font-weight: 275;
    font-size: 196px;
    margin: 27px 0 0 0;
  }

  .link-blocks {
    gap: 14px;
    margin: 71px 0 0 0;
  }

  .link-blocks__item {
    font-size: 26px;
    padding: 13px 26px;
  }

  // Articles
  .articles {
    padding: 464px 0 20px 0;
  }

  .articles-list__link {
    max-height: 476px;
    padding: 13px 21px;
  }

  .articles-list__anons {
    font-size: 26px;
    line-height: 31px;
    max-width: 432px;
  }

  .articles-list__article:nth-child(2) .articles-list__image-link {
    background-image: url(../images/grim-1512.png);
  }
}

@media (max-width: 1024px) {
  .wrapper {
    padding: 0 13px;
  }

  .timer-info {
    padding: 45px 0 0 0;
  }

  .timer-info__subtitle {
    font-weight: 400;
    font-size: 18px;
    margin: 0 0 0 6px;
  }

  .timer-info__title {
    font-size: 102px;
    margin: 15px 0 0 0;

    &::before {
      top: 35px;
    }

    &::after {
      bottom: 14px;
    }
  }

  .link-blocks {
    gap: 9px;
    margin: 40px 0 0 7px;
  }

  .link-blocks__item {
    font-weight: 400;
    font-size: 18px;
    padding: 8px 26px 13px;
  }

  // Articles
  .articles {
    padding: 300px 0 20px 0;
  }

  .articles .wrapper {
    padding: 0 20px;
  }

  .articles-list__anons {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    max-width: 232px;
  }

  .articles-list__link {
    padding: 4px 12px;
    max-height: 360px;
    border-radius: 12px;
  }

  .articles-list__link::before {
    transform: scale(0.7);
    bottom: 4px;
    right: 5px;
  }

  .articles-list__image-link {
    border-radius: 8px;
    height: 360px;
  }

  .articles-list {
    grid-column-gap: 12px;
    grid-row-gap: 10px;
  }

  .articles-list__article:nth-child(1) {
    grid-area: 4 / 4 / 5 / 7;
  }

  .articles-list__article:nth-child(2) {
    grid-area: 3 / 7 / 4 / 13;
    grid-template-columns: 34.2% 65.8%;
    flex-direction: column;
    display: flex;
  }

  .articles-list__article:nth-child(3) {
    grid-area: 1 / 7 / 2 / 10;
  }

  .articles-list__article:nth-child(4) {
    grid-area: 1 / 10 / 2 /13;
  }

  .articles-list__article:nth-child(5) {
    grid-area: 4 / 7 / 5 / 10;
  }

  .articles-list__article:nth-child(6) {
    grid-area: 1/1/2/7;
    grid-template-columns: 52% 48%;
  }

  .articles-list__article:nth-child(7) {
    grid-area: 2 /1 /3 / 13;
    grid-template-columns: 51% 49%;
  }

  .articles-list__article:nth-child(8) {
    grid-area: 4 / 1 / 5 / 4;
  }

  .articles-list__article:nth-child(9) {
    grid-area: 3 / 1 / 4 / 7;
    grid-template-columns: 34.2% 65.8%;
    flex-direction: column;
    display: flex;
  }

  .articles-list__article:nth-child(10) {
    grid-area: 4 / 10 / 5 / 13;
  }

  .articles-list__article:nth-child(2) .articles-list__image-link {
    background-image: url(../images/grim-1024.png);
  }

  .articles-list__article:nth-child(6) .articles-list__image-link {
    grid-area: 1 / 2 / 2 / 3;
  }

  .articles-list__article:nth-child(6) .articles-list__link {
    grid-area: 1 / 1 / 2 / 2;
  }
}

@media (max-width: 767px) {
  .wrapper {
    padding: 0 21px;
  }

  .timer-info {
    padding: 21px 0 0 0;
  }

  .timer-info__inner-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .timer-info__subtitle {
    display: none;
  }

  .timer-info__title {
    display: flex;
    font-size: 24px;
    font-style: normal;
    letter-spacing: -0.01em;
    margin: 15px 0 0 0;

    &::before,
    &::after {
      display: none;
    }
  }

  .link-blocks {
    gap: 11px;
    margin: 37px 0 0 0;
    display: none;
  }

  .link-blocks.open {
    display: flex;
  }

  .link-blocks__item {
    font-size: 16px;
    padding: 10px 23px 13px;
    border-radius: 6px;
  }

  .timer-info__button {
    display: block;
    width: 22px;
    height: 22px;
    background-color: transparent;
    border: none;
    margin: 17px 21px 0 0;
  }

  .timer-info__button svg {
    transform: rotate(0);
    transition: all 0.3s ease-in-out;
  }

  .timer-info__button.open svg {
    transform: rotate(45deg);
    transition: all 0.3s ease-in-out;
  }

  // Articles
  .articles {
    padding: 39px 0 20px 0;
  }

  .articles-list__anons {
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    max-width: 100%;
  }

  .articles-list__link {
    padding: 6px 12px;
    max-height: 334px;
    border-radius: 10px;
  }

  .articles-list__image-link {
    border-radius: 8px;
    height: 334px;
  }

  .articles-list {
    grid-template-columns: 1fr;
    grid-column-gap: 0;
  }

  .articles-list__article {
    border-radius: 10px;
  }

  .articles-list__article:nth-child(1) {
    grid-area: 1 / 1 / 2 / -1;
  }

  .articles-list__article:nth-child(2) {
    grid-area: 2 / 1 / 3 / -1;
    flex-direction: column-reverse;
  }

  .articles-list__article:nth-child(3) {
    grid-area: 4 / 1 / 5 / -1;
  }

  .articles-list__article:nth-child(4) {
    grid-area: 5 / 1 / 6 / -1;
  }

  .articles-list__article:nth-child(5) {
    grid-area: 3 / 1 / 4 / -1;
  }

  .articles-list__article:nth-child(6) {
    grid-area: 6 / 1 / 7 / -1;
    grid-template-columns: 52% 48%;
  }

  .articles-list__article:nth-child(7) {
    grid-area: 7 / 1 / 8 / -1;
    flex-direction: column;
    display: flex;
  }

  .articles-list__article:nth-child(8) {
    grid-area: 8 / 1 / 9 / 4;
  }

  .articles-list__article:nth-child(9) {
    grid-area: 9 / 1 / 10 / -1;
    grid-template-columns: 34.2% 65.8%;
    flex-direction: column-reverse;
    display: flex;
  }

  .articles-list__article:nth-child(10) {
    grid-area: 10 / 1 / 11 / -1;
  }

  .articles-list__article:nth-child(2) .articles-list__image-link {
    background-image: url(../images/grim-375.png);
  }

  .articles-list__article:nth-child(2) .articles-list__link,
  .articles-list__article:nth-child(7) .articles-list__link,
  .articles-list__article:nth-child(9) .articles-list__link {
    height: 173px;
  }

  .articles-list__article:nth-child(10) .articles-list__link {
    height: 163px;
  }
}
