@font-face {
  font-family: 'TT Hoves';
  src: url('../fonts/TTHoves-ExtraLight.woff2') format('woff2'),
    url('../fonts/TTHoves-ExtraLight.woff') format('woff');
  font-weight: 275;
  font-style: normal;
}

@font-face {
  font-family: 'TT Hoves';
  src: url('../fonts/TTHoves-ExtraLightItalic.woff2') format('woff2'),
    url('../fonts/TTHoves-ExtraLightItalic.woff') format('woff');
  font-weight: 275;
  font-style: italic;
}

@font-face {
  font-family: 'TT Hoves';
  src: url('../fonts/TTHoves-Light.woff2') format('woff2'),
    url('../fonts/TTHoves-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'TT Hoves';
  src: url('../fonts/TTHoves-Regular.woff2') format('woff2'),
    url('../fonts/TTHoves-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'TT Hoves';
  src: url('../fonts/TTHoves-Medium.woff2') format('woff2'),
    url('../fonts/TTHoves-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
