body {
  background-color: #000000;
}

.wrapper {
  max-width: 1728px;
  padding: 0 30px;
  margin: 0 auto;
}

// cover 

.W_MainPageCover{
  max-width: 1728px;
  padding: 0;
  margin: 0 auto;
}

  
  // Main BLOCK
  
  .main-block {
    padding: 27px 0 0 0;
    position: relative;
  }
  
  .main-block__mobile-title {
    display: none;
  }
  
  .A_MainTitle {
    font-family: "TT Hoves";
    font-style: italic;
    font-weight: 275;
    font-size: 215px;
    letter-spacing: 0.01em;
    color: #ffffff;
    margin: 0;
    line-height: 223px;
  }
  
  .Q_MainTitleLine {
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    position: absolute;
    left: 0;
  }
  
  .Q_MainTitleLine:nth-of-type(1) {
    top: 107px;
  }
  
  .Q_MainTitleLine:nth-of-type(2) {
    top: 215px;
  }
  
  .Q_MainTitleLine:nth-of-type(3) {
    bottom: 286px;
  }
  
  .Q_MainTitleLine:nth-of-type(4) {
    bottom: 179px;
  }
  
  
  .main-block-links {
    margin: 87px 0 0 0;
    padding: 0 20px;
    display: flex;
  }
  
  .A_AnotherPageButton {
    font-family: "TT Hoves";
    font-style: normal;
    font-weight: 300;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    font-size: 28px;
    line-height: 1;
    text-align: center;
    color: #FFFFFF;
    padding: 12px 42px 18px;
  }
  
  .A_AnotherPageButton:last-of-type {
    margin: 0 0 0 21px;
    width: 100%;
    max-width: 549px;
    display: block;
  }

  .A_AnotherPageButton:hover,
  .A_AnotherPageButton:focus {
    background-color: #fff;
    color: #000;
  }

// Cards
.wrapper--cards {
  padding: 0 20px;
}

.cards {
  margin: 410px 0 0 0;
  padding: 0 0 18px 0;
}

.card-list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.card__link {
  padding: 14px 26px;
  width: 100%;
  height: 100vh;
  max-height: 536px;
  display: flex;
  border-radius: 20px;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.card__link::before {
  position: absolute;
  content: '';
  width: 23px;
  height: 26px;
  background-image: url(../images/arrow.svg);
  background-repeat: no-repeat;
  bottom: 12px;
  right: 21px;
}

.card__link--small {
  max-height: 256px;
}

.image-link {
  border-radius: 20px;
  background-image: url(../images/pattern.png);
  background-repeat: repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}

.image-link img {
  width: 100%;
  height: auto;
}

.M_BigCard:nth-child(3) .image-link {
  border-radius: 20px;
  background-image: url(../images/segata.jpg) ,url(../images/pattern.png);
  background-repeat: no-repeat, repeat;
  background-size:  cover, cover;
}

.card__text {
  font-family: 'TT Hoves';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  color: #FFFFFF;
  max-width: 540px;
}

.card__text--black {
  color: #000000;
}

.M_BigCard {
  display: grid;
  border-radius: 20px;
}

.M_BigCard:nth-child(1) {
  grid-area: 1 / 1 / 3 / 7;
}

.M_BigCard:nth-child(2) {
  grid-area: 1 / 7 / 3 / 13;
  grid-template-columns: 65.8% 34.2%;
}

.M_BigCard:nth-child(3) {
  grid-area: 3 / 1 / 5 / 7;
  grid-template-columns: 34.2% 65.8%;
}

.M_BigCard:nth-child(4) {
  display: flex;
  grid-area: 3 / 7 / 4 / 13;
}

.M_BigCard:nth-child(5) {
  grid-area: 5/1/7/7;
  grid-template-columns: 34% 66%;
}

.M_BigCard:nth-child(6) {
  grid-area: 4 / 7 / 6 / 13;
  grid-template-columns: 34.2% 65.8%;
}

.M_BigCard:nth-child(7) {
  display: flex;
  grid-area: 6/7/7/11;
}

.M_BigCard:nth-child(8) {
  display: flex;
  border: 1px solid #FFFFFF;
  grid-area: 6/11/7/13;
}

.M_BigCard:nth-child(9), 
.M_BigCard:nth-child(10),
.M_BigCard:nth-child(11),
.M_BigCard:nth-child(12) {
  display: none;
}

.M_BigCard:nth-child(1) .card__link {
  background-color: #E93323;
}
.M_BigCard:nth-child(2) .card__link {
  background-color: #FDF050;
}
.M_BigCard:nth-child(3) .card__link {
  background-color: #5ECD9C;
}
.M_BigCard:nth-child(4) .card__link {
  background-color: #265BEE;;
}
.M_BigCard:nth-child(5) .card__link {
  background-color: #265BEE;;
}
.M_BigCard:nth-child(6) .card__link {
  background-color: #AA86D4;;
}
.M_BigCard:nth-child(7) .card__link {
  background-color: #F0A1C1;;
}
.M_BigCard:nth-child(8) .card__link {
  background-color: #000000;;
}
.M_BigCard:nth-child(9) .card__link {
  background-color: #E93323;
}
.M_BigCard:nth-child(10) .card__link {
  background-color: #265BEE;
}
.M_BigCard:nth-child(11) .card__link {
  background-color: #FDF050;
}
.M_BigCard:nth-child(12) .card__link {
  background-color: #F0A1C1;
}

.M_BigCard:nth-child(2) .card__link::before,
.M_BigCard:nth-child(3) .card__link::before,
.M_BigCard:nth-child(6) .card__link::before,
.M_BigCard:nth-child(7) .card__link::before,
.M_BigCard:nth-child(11) .card__link::before  {
  background-image: url(../images/arrow-black.svg);
}

.M_BigCard:nth-child(8) .card__link::before {
  background-image: none;
}


@media(max-width: 1512px) {
  .wrapper {
    padding: 0 20px;
  }

  // cover 

    .wrapper--main-block {
        padding: 0;
    }
    
    // Main BLOCK
    
    .main-block {
        padding: 29px 0 0 0;
    }
    
    .A_MainTitle {
        font-size: 196px;
        line-height: 200px;
    }
    
    .Q_MainTitleLine {
        height: 2px;
    }
    
    .Q_MainTitleLine:nth-of-type(1) {
        top: 100px;
    }
    
    .Q_MainTitleLine:nth-of-type(2) {
        top: 199px;
    }
    
    .Q_MainTitleLine:nth-of-type(3) {
        bottom: 253px;
    }
    
    .Q_MainTitleLine:nth-of-type(4) {
        bottom: 152px;
    }
    
    .main-block-links {
        margin: 70px 0 0 0;
        padding: 0 20px;
        display: flex;
    }
    
    .A_AnotherPageButton {
        font-size: 26px;
        padding: 12px 29px 14px;
    }
    
    .A_AnotherPageButton:last-of-type {
        margin: 0 0 0 18px;
        max-width: 477px;
    }

  .cards {
    margin: 364px 0 0 0;
    padding: 0 0 13px 0;
  }

  .card-list {
    grid-row-gap: 24px;
  }

  .card__link {
    padding: 12px 21px;
    max-height: 476px;
  }

  .card__link::before {
    bottom: 12px;
    right: 14px;
    width: 11px;
    height: 13px;
    background-size: contain;
  }

  .card__link--small {
    max-height: 228px;
  }

  .card__text {
    font-size: 26px;
    line-height: 31px;
  }

  .M_BigCard {
    max-height: 472px;
  }

  .M_BigCard:nth-child(1) {
    grid-area: 1 / 1 / 3 / 7;
  }
  
  .M_BigCard:nth-child(2) {
    grid-area: 1 / 7 / 3 / 13;
    grid-template-columns: 65.8% 34.2%;
  }
  
  .M_BigCard:nth-child(3) {
    grid-area: 3 / 1 / 5 / 7;
    grid-template-columns: 34.2% 65.8%;
  }
  
  .M_BigCard:nth-child(4) {
    grid-area: 3 / 7 / 4 / 13;
    min-height: 228px;  
  }
  
  .M_BigCard:nth-child(5) {
    grid-template-columns: 34% 66%;
    grid-area: 5/1/7/7;
  }
  
  .M_BigCard:nth-child(6) {
    grid-area: 4 / 7 / 6 / 13;
    grid-template-columns: 34.2% 65.8%;
  }
  
  .M_BigCard:nth-child(7) {
    grid-area: 6/7/7/11;
  }
  
  .M_BigCard:nth-child(8) {
    grid-area: 6/11/7/13;
  }
}

@media(max-width: 1280px) {
  .A_MainTitle {
    font-size: 158px;
  }

  .Q_MainTitleLine:nth-of-type(1) {
    top: 105px;
  }

  .Q_MainTitleLine:nth-of-type(2) {
    top: 187px;
  }

  .Q_MainTitleLine:nth-of-type(3) {
    bottom: 245px;
  }

  .Q_MainTitleLine:nth-of-type(4) {
    bottom: 163px;
  }
}


@media(max-width: 1024px) {
  .wrapper {
    padding: 0 27px 0 20px;
  }

  .wrapper--main-block {
    padding: 0 13px;
}

    // Main BLOCK

    .main-block {
    padding: 15px 0 0 0;
    }

    .W_MainPageCover{
      padding: 0 13px;
    }
    

    .A_MainTitle {
    font-size: 102px;
    line-height: 103px;
    }

    .Q_MainTitleLine {
    height: 1px;
    }

    .Q_MainTitleLine:nth-of-type(1) {
    top: 53px;
    }

    .Q_MainTitleLine:nth-of-type(2) {
    top: 104px;
    }

    .Q_MainTitleLine:nth-of-type(3) {
    bottom: 145px;
    }

    .Q_MainTitleLine:nth-of-type(4) {
    bottom: 94px;
    }

    .main-block-links {
    margin: 39px 0 0 0;
    padding: 0 7px;
    }
    
    .A_AnotherPageButton {

    font-size: 18px;
    padding: 9px 15px 12px;

    }
    
    .A_AnotherPageButton:last-of-type {
    margin: 0 0 0 10px;
    max-width: 271px;
    }

  .wrapper--cards {
    padding: 0 11px 0 20px;
  }

  .cards {
    margin: 259px 0 0 0;
    padding: 0 0 19px 0;
  }

  .card-list {
    grid-column-gap: 9px;
    grid-row-gap: 10px;
  }

  .M_BigCard {
    border-radius: 10px;
  }


  .card__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
}

.card__link {
  padding: 7px 11px;
  max-height: 360px;
  border-radius: 10px;
}

.card__link--xs {
  max-height: 175px;
}

.image-link {
  border-radius: 10px;
}

.card__link--small {
  max-height: 175px;
}


  .M_BigCard:nth-child(1),
  .M_BigCard:nth-child(5),
  .M_BigCard:nth-child(6),
  .M_BigCard:nth-child(8) {
    display: none;
  }

  .M_BigCard:nth-child(1) {
    display: grid;
    grid-area: 5/1/7/7;
  }

  .M_BigCard:nth-child(2) {
    display: grid;
    grid-area: 3/1/4/10;
  }

  .M_BigCard:nth-child(3) {
    display: grid;
    grid-area: 4/4/5/14;
  }

  .M_BigCard:nth-child(4) {
    display: grid;
    grid-area: 4/1/5/4;
  }

  .M_BigCard:nth-child(6) {
    display: grid;
    grid-area: 1 / 4 / 3 / 13;
  }

  .M_BigCard:nth-child(7) {
    display: grid;
    grid-area: 3/ 10 / 4 / 13;
  }

  .M_BigCard:nth-child(8) {
    display: grid;
    background: #265BEE;
    grid-area: 6/10/7/13;
  }

  .M_BigCard:nth-child(9) {
    display: grid;
    grid-area: 1 / 1 / 2 / 4;
  }

  .M_BigCard:nth-child(10) {
    display: grid;
    grid-area: 2/1/3/4;
  }

  .M_BigCard:nth-child(11) {
    display: grid;
    grid-area: 5/7/6/13;
  }

  .M_BigCard:nth-child(12) {
    display: grid;
    grid-area: 6/7/7/10;
  }

  .M_BigCard:nth-child(2) .card__text,
  .M_BigCard:nth-child(11) .card__text {
    color: #000;
  }

  .M_BigCard:nth-child(4) .card__link--small,
  .M_BigCard:nth-child(7) .card__link--small {
    max-height: 360px;
  }

  .M_BigCard:nth-child(3) .card__link::before,
  .M_BigCard:nth-child(6) .card__link::before,
  .M_BigCard:nth-child(7) .card__link::before {
    background-image: url(../images/arrow.svg);
  }
}

@media(max-width: 767px) {
  .wrapper--cards {
    padding: 0 21px 0 20px;
  }

// Main BLOCK

.wrapper--main-block {
  padding: 0;
}

.W_MainPageCover{
  padding: 0;
}

.main-block {
  padding: 15px 0 0 0;
}

.main-block__mobile-title {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.main-block__mobile-title .marquee {
  font-family: 'TT Hoves';
  font-weight: 200;
  font-style: italic;
  font-size: 156px;
  line-height: 130px;
  margin: 0 0 47px 0; 
  white-space: nowrap;

  color: #FFFFFF;
  position: relative;
}

.main-block__mobile-title .marquee::before,
.main-block__mobile-title .marquee::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #ffffff;
  left: 0;
}

.main-block__mobile-title .marquee::before {
  top: 43px;
}

.main-block__mobile-title .marquee::after {
  bottom: 8px;
}

.main-block__mobile-title .marquee:last-of-type {
  margin-bottom: 0;
}

.A_MainTitle {
  display: none;
  font-size: 102px;
  line-height: 103px;
}

.Q_MainTitleLine {
  display: none;
}

.main-block-links {
  display: none;
}


.marquee {
    margin: 0 0 45px 0;
}


.marquee p {
    font-family: 'TT Hoves';
    font-style: italic;
    font-weight: 201;
    font-size: 156px;
    line-height: 84%;
    color: #FFFFFF;
    margin: 0;
    transform: translate(100%, 0);
}

.marquee:nth-of-type(1) p {
  animation-name: text;
  animation-duration: 5s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-timing-function:  linear;
}

.marquee:nth-of-type(2) p {
  animation-name: text;
  animation-duration: 5s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-timing-function:  linear;
}

.marquee:nth-of-type(3) p {
  animation-name: text;
  animation-duration: 5s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-timing-function:  linear;
}

@keyframes text {
  0%{
    transform: translate(100%, 0);
  }
  
  100%{
    transform: translate(-160%, 0);
  }
}

  .cards {
    margin: 61px 0 0 0;
  }

  .M_BigCard {
    max-height: max-content;
  }

  .card__text  {
    font-size: 24px;
    line-height: 30px;
  }

  .card__link {
    max-height: 334px;
  }

  .card__link--xs {
    max-height: 163px;
  }

  .M_BigCard:nth-child(1),
  .M_BigCard:nth-child(2),
  .M_BigCard:nth-child(3),
  .M_BigCard:nth-child(4),
  .M_BigCard:nth-child(5),
  .M_BigCard:nth-child(6),
  .M_BigCard:nth-child(7),
  .M_BigCard:nth-child(8),
  .M_BigCard:nth-child(9),
  .M_BigCard:nth-child(10),
  .M_BigCard:nth-child(11),
  .M_BigCard:nth-child(12) {
    display: none;
  }

  .M_BigCard:nth-child(1) {
    display: grid;
    grid-area: 1 / 1 / 2 / -1;
  }

  .M_BigCard:nth-child(2) {
    display: flex;
    flex-direction: column;
    grid-area: 3 / 1 / 4 / -1;
  }

  .M_BigCard:nth-child(2) .image-link,
  .M_BigCard:nth-child(6) .image-link {
    min-height: 334px;
  }

  .M_BigCard:nth-child(2) .card__link,
  .M_BigCard:nth-child(6) .card__link  {
    max-height: 173px;
  }

  .M_BigCard:nth-child(4) {
    display: grid;
    grid-area: 6 / 1 / 8 / 7;
  }

  .M_BigCard:nth-child(4) .card__link  {
    max-height: 336px;
  }

  .M_BigCard:nth-child(7) .card__link {
    max-height: 163px;
  }

  .M_BigCard:nth-child(5) {
    display: flex;
    flex-direction: row-reverse;
    grid-area: 2 / 1 / 3 / -1;
  }

  .M_BigCard:nth-child(5) .image-link {
    width: 100%;
  }

  .M_BigCard:nth-child(6) {
    display: flex;
    flex-direction: column-reverse;
    grid-area: 5 / 1 / 6 / -1;
  }

  .M_BigCard:nth-child(7) {
    display: grid;
    grid-area: 4 / 1 / 5 / -1;
  }

  .M_BigCard:nth-child(7) .card__link {
    grid-area: 4/1/5/-1;
  }

  .M_BigCard:nth-child(8) {
    display: grid;
    grid-area: 7 / 7 / 8 / 13;
  }

  .M_BigCard:nth-child(8) .card__link {
    max-height: 163px;
  }

  .M_BigCard:nth-child(8) .card__link .card__text {
    font-size: 24px !important;
  }


  .M_BigCard:nth-child(10) {
    display: grid;
    grid-area: 6 / 7 / 7 / 13;
  }

  .card__link {
    padding: 8px 12px 13px;
    border-radius: 10px;
  }

  .image-link {
    border-radius: 10px;
  }


  .M_BigCard:nth-child(3),
  .M_BigCard:nth-child(9),
  .M_BigCard:nth-child(11),
  .M_BigCard:nth-child(12) {
    display: none;
  }

  .M_BigCard .card__link .card__text:last-of-type {
    font-size: 16px;
    line-height: 1;
  }

  .M_BigCard:nth-child(10) .card__link {
    background-color: #F0A1C1;
  }
}