
.O_Header {
  display: flex;
  background-color: #000000;
  border-bottom: 1px solid white;
  /* position: fixed; */
  z-index: 10;
  width: 100%;
  top: 0;
}

.O_GameSummary {
  width: 100%;
  max-width: 567px;
  padding: 56px 20px;
  border-right: 1px solid white;
}

.O_GameNote {
  padding: 64px 0 73px 0;
  width: 100%;
  width: 100%;
  max-width: 1120px;
}

.O_Footer {
  padding: 24px 0 0 0;
}
