.W_HeaderWrapper {
    width: 100%;
    max-width: 1728px;
    margin: 0 auto;
    padding: 26px 30px 35px;
    display: flex;
    box-sizing: border-box;
}

.W_GameWrapper {
    width: 100%;
    max-width: 1728px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    box-sizing: border-box;
}

.W_FooterWrapper {
    width: 100%;
    max-width: 1728px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    display: block;
    padding: 0 16px;

    display: flex;
    justify-content: space-between;
    width: 100%;
}

.W_GameNoteCardFooterWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto 0 0 0;
}

.W_MarqueeWrapper {
    width:100%;
    overflow:hidden;
    white-space:nowrap;
    background-color: #5ECD9C;
    padding: 28px 0 34px 0;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}


.W_FooterRightColumnWrapper {
    margin: 0 38px 0 0;
    padding: 6px 0 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 50px;
}

.W_FooterSocialListItemWrapper,
.W_FooterDonateListItemWrapper {
    display: flex;
    align-items: center;
    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 1;
    color: #FFFFFF;
    margin: 0 0 15px 0;
}

.W_Copyright {
    width: 100%;
    max-width: 1728px;
    margin: 10px auto 0;
    box-sizing: border-box;
    display: block;
    padding: 0 16px 16px;


}
