.main-block {
    padding: 295px 0 297px 0;

    &__description {
        max-width: 1068px;
        font-family: "TT Hoves";
        font-style: normal;
        font-weight: 300;
        font-size: 40px;
        line-height: 50px;
        color: #FFFFFF;
        margin: 0 74px 0 auto;
    }

} 