.about {
  background-color: #000000;
}

/*оболочка*/
.wrapper {
  max-width: 1728px;
  padding: 0;
  margin: 0 auto;
}

/*бегущая строка*/
.marquee {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  background-color: #5ecd9c;
  padding: 18px 0 30px 0;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}

.marquee span {
  display: inline-block;
  padding-left: 100%;

  font-family: 'TT Hoves';
  font-style: normal;
  font-weight: 300;
  font-size: 52px;
  line-height: 1;
  color: #ffffff;

  -webkit-animation: marquee 30s infinite linear;
  animation: marquee 30s infinite linear;
}

@-webkit-keyframes marquee {
  0% {
    -webkit-transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(-100%, 0);
  }
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

/*первый абзац*/
.our-values__paragraph {
  font-family: 'TT Hoves';
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 45px;
  color: #ffffff;
  max-width: 1312px;
  padding: 108px 0 0 514px;
}

.our-values__paragraph--short {
  padding: 127px 0 0 514px;
}

/*не кнопки с ценностями*/

.our-values__list {
  margin-left: 514px;
  margin-top: 28px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  max-width: 1150px;
  gap: 20px;
  margin-bottom: 234px;
}

.our-values__rectangle {
  display: inline-block;
  color: #000000;
  border: 1px solid #ffffff;
  border-radius: 10px;
  text-align: center;
  outline: none;
  text-decoration: none;
}

.our-values__rectangle:hover,
.our-values__rectangle:active {
  background-color: #fff;
}

.value:hover {
  color: #000000;
}

.value {
  font-family: 'TT Hoves';
  font-style: normal;
  font-weight: 300;
  font-size: 26px;
  line-height: 1;
  color: #ffffff;
  padding: 10px 50px 14px 50px;
}

.our-values__rectangle--fourth {
  padding-right: 50px;
  padding-left: 50px;
}

/*большой заголовок с линиями*/

.main-title-block {
  position: relative;
  margin: 100px 0 0 0;
}

.huge-text__title {
  font-family: 'TT Hoves';
  font-style: italic;
  font-weight: 275;
  font-size: 196px;
  letter-spacing: 0.01em;
  color: #ffffff;
  margin: 0;
}

.separator {
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
  left: 0;
}

.separator:nth-of-type(1) {
  top: 68px;
}

.separator:nth-of-type(2) {
  top: 169px;
}

.separator:nth-of-type(3) {
  top: 265px;
}

.separator:nth-of-type(4) {
  top: 366px;
}

.separator:nth-of-type(5) {
  top: 462px;
}

.separator:nth-of-type(6) {
  top: 562px;
}

.second_paragraph {
  font-family: 'TT Hoves';
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 45px;
  color: #ffffff;
  max-width: 939px;
  margin: 405px 0 405px 514px;
}

/* блок с мемоджи*/
.about-team__members {
  display: flex;
  height: 353px;
  gap: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

/* блок с цифрами*/
.about-team__numbers {
  display: flex;
  height: 477px;
  gap: 20px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 172px;
  margin-top: 20px;
}

.about-team__number {
  border-radius: 20px;
  width: 549px;
}

.number {
  font-family: 'TT Hoves';
  font-style: italic;
  font-weight: 275;
  font-size: 196px;
  line-height: 227px;
  letter-spacing: 3%;
  color: #ffffff;
  margin: 48px 0 0 36px;
}

.number__text {
  font-family: 'TT Hoves';
  font-style: normal;
  font-weight: 300;
  font-size: 26px;
  line-height: 35px;
  color: #ffffff;
  max-width: 397px;
  margin: 12px 0 86px 41px;
}

.about-team__number--one {
  background-color: #265bee;
}

.about-team__number--two {
  background-color: #f0a1c1;
}

.about-team__number--three {
  background-color: #5ecd9c;
}

/*второй большой заголовок с линиями*/

.second-title-block {
  position: relative;
  margin: 100px 0 250px 0;
}

.separator {
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
  left: 0;
}

.separator:nth-of-type(1) {
  top: 68px;
}

.separator:nth-of-type(2) {
  top: 169px;
}

/*блок с плюсами*/
.pluses-list {
  counter-reset: item;
  display: flex;
  gap: 68px;
  justify-content: center;
  padding-right: 20px;
  padding-left: 20px;
}

.pluses-list__plus {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pluses-list__plus:before {
  position: absolute;
  counter-increment: item; /* Увеличиваем значение счетчика вложенного списка */
  content: counter(item); /* Выводим число */
  top: 110px;
  left: 17px;

  font-family: 'TT Hoves';
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 45px;
  color: #ffffff;
}

.pluses-list__plus::after {
  position: absolute;
  content: '';
  border-radius: 50px;
  border: 1px solid #ffffff;

  width: 52px;
  height: 52px;
  top: 107px;
  left: 0px;
}

.pluses-list__plus:nth-of-type(1)::before {
  top: 111px;
  left: 20px;
}

.clock_image {
  padding-right: 50px;
}

.pluses-list__title {
  font-family: 'TT Hoves';
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 45px;
  color: #ffffff;
  padding: 100px 0 25px 0;
  align-self: flex-start;
}

.pluses-list__description {
  font-family: 'TT Hoves';
  font-style: normal;
  font-weight: 300;
  font-size: 26px;
  line-height: 32px;
  color: #ffffff;
  align-self: flex-start;
}

.third_paragraph {
  font-family: 'TT Hoves';
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 45px;
  color: #ffffff;
  max-width: 939px;
  margin: 437px 0 459px 514px;
}

/*бегущая строка 2*/
.marquee span {
  display: inline-block;
  padding-left: 100%;

  font-family: 'TT Hoves';
  font-style: normal;
  font-weight: 300;
  font-size: 52px;
  line-height: 1;
  color: #ffffff;

  -webkit-animation: marquee 30s infinite linear;
  animation: marquee 30s infinite linear;
}

@-webkit-keyframes marquee {
  0% {
    -webkit-transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(-100%, 0);
  }
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

/* блок с фото команды по ховеру*/
.team-members-photo {
  background: url('./images/team_members_photo.png') center left no-repeat;
  background-size: cover;
  height: 758px;
  border-bottom: 1px solid #ffffff;
}

.fourth_paragraph {
  font-family: 'TT Hoves';
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 45px;
  color: #ffffff;
  max-width: 936px;
  margin: 450px 0 469px 514px;
}

/*бегущая строка 3*/

.marquee_blue {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  background-color: #265bee;
  padding: 18px 0 30px 0;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}
.marquee_blue span {
  display: inline-block;
  padding-left: 100%;

  font-family: 'TT Hoves';
  font-style: normal;
  font-weight: 300;
  font-size: 52px;
  line-height: 1;
  color: #ffffff;

  -webkit-animation: marquee 30s infinite linear;
  animation: marquee 30s infinite linear;
}

@-webkit-keyframes marquee_blue {
  0% {
    -webkit-transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(-100%, 0);
  }
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

/*блок с нашими мемоджи*/
.our-team__members {
  display: flex;
  gap: 68px;
  justify-content: center;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 250px;
  margin-top: 73px;
}

.our-team__member__title {
  font-family: 'TT Hoves';
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 1;
  color: #ffffff;
  padding-bottom: 27px;
  padding-top: 24px;
}

.our-team__member__paragraph {
  font-family: 'TT Hoves';
  font-style: italic;
  font-weight: 300;
  font-size: 26px;
  line-height: 32px;
  color: #ffffff;
  max-width: 417px;
}
