

html,
body {
    margin: 0;
    padding: 0;
    background-color: #000000;
}

.article-page--main-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #265BEE;
}


.article-page__title--white {
    color: #ffffff;
}

.article-page--no-title {
    padding: 64px 58px 43px 58px;
}

.Japan {
    margin: 48px 0 0 0;
}

.JapanItem {
    display: flex;
    align-items: flex-end;
    margin: 0 0 45px 0;
}

.JapanItem:last-of-type {
    margin: 0;
}

.JapanItem p {
    font-family: 'TT Hoves';
    font-style: italic;
    font-weight: 300;
    font-size: 26px;
    line-height: 1;
    color: #265BEE;
    margin: 0px 0 0 29px;
    padding: 0 0 11px 0;
}


.article-slider {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.article-slider .swiper-slide {
    border-radius: 20px;
    margin: 0 auto;
    max-width: 829px;
}

.swiper-button-prev,
.swiper-button-next {
    width: 52px !important;
    height: 52px !important;
}

.swiper-button-prev {
    transform: rotate(180deg);
    left: 20px !important;
}

.swiper-button-next {
    right: 20px !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
    content: '' !important;
}

.swiper-slide-prev {
    transform: translate(-40px, 0) !important;
}

.swiper-slide-next {
    transform: translate(24px, 0) !important;
}
