html,
body {
    margin: 0;
    padding: 0;
    background-color: #000000;
}

/*оболочка*/
.W_GamesListWrapper {
  max-width: 1728px;
  padding: 0;
  margin: 0 auto;
}

/*большой заголовок с линиями*/

.O_GamesListCover {
  position: relative;
  margin: 16px 0 0 20px;
}

.Q_GamesCoverImage {
  position: absolute;
  z-index: 2;
  top: 26px;
  right: 305px;
}

.W_GamesListMarqueeWrapper {
  width:100%;
  overflow: hidden;
  white-space: nowrap;
}

.A_GamesListMarqueeText {
  display:inline-block;

  font-family: 'TT Hoves';
  font-style: italic;
  font-weight: 275;
  font-size: 214px;
  letter-spacing: 0.01em;
  color: #ffffff;
  margin: 0;

  -webkit-animation: marquee 30s infinite linear;
  animation: marquee 30s infinite linear;
}

@-webkit-keyframes marquee {
  0%{-webkit-transform: translate(0, 0);}
  100%{-webkit-transform: translate(-100%, 0);}
}

@keyframes marquee{
  0%{transform: translate(0, 0);}
  100%{transform: translate(-100%, 0)}
}

.Q_GamesListMarqueeSeparator {
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
  left: 0;
}

.Q_GamesListMarqueeSeparator:nth-of-type(1) {
  top: 75px;
}

.Q_GamesListMarqueeSeparator:nth-of-type(2) {
  top: 185px;
}

.Q_GamesListMarqueeSeparator:nth-of-type(3) {
  top: 290px;
}

.Q_GamesListMarqueeSeparator:nth-of-type(4) {
  top: 399px;
}

.Q_GamesListMarqueeSeparator:nth-of-type(5) {
  top: 504px;
}

.Q_GamesListMarqueeSeparator:nth-of-type(6) {
  top: 613px;
}

.Q_GamesListMarqueeSeparator:nth-of-type(7) {
  top: 718px;
}

.Q_GamesListMarqueeSeparator:nth-of-type(8) {
  top: 827px;
}

.O_GamesListContent {
  display: flex;
  border-bottom: 1px solid #ffffff;
}

.W_CardsListWrapper {
  max-width: 1120px;
  margin: 20px 0 20px 20px;
}

.C_CardsList {
  display: grid;
  grid-template-columns: repeat(4, 265px);
  grid-template-rows: repeat(6, 265px);
  gap: 20px;
}

.M_CardCover {
  display: flex;
  position: relative;
  border-radius: 20px;
  border: 1px solid #ffffff;
}

.W_CardCoverLink {
  display: flex;
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  font-family: 'TT Hoves';
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 34px;
  color: #ffffff;
  margin: 0;
  padding: 15px 0 0 24px;
}

.M_CardCover:nth-child(1) {
  grid-area: 1 / 1 / 2 / 2;
}

.C_CardsList.all-active .M_CardCover:nth-child(1)[data-genre="role-playing_games"],
.M_CardCover.active:nth-child(1)[data-genre="role-playing_games"] { 
  background-image: url(./images/Fallout.png);
}


.M_CardCover:nth-child(2) {
  grid-area: 1 / 2 / 2 / 4;
}

.C_CardsList.all-active .M_CardCover:nth-child(2)[data-genre="action"],
.M_CardCover.active:nth-child(2)[data-genre="action"] { 
  background-image: url(./images/Doom.png);
}

.M_CardCover:nth-child(3) {
  grid-area: 1 / 4 / 2 / 5;
}

.C_CardsList.all-active .M_CardCover:nth-child(3)[data-genre="action"],
.M_CardCover.active:nth-child(3)[data-genre="action"] { 
  background-image: url(./images/Super_Mario.png);
}

.M_CardCover:nth-child(4) {
  grid-area: 2 / 1 / 3 / 2;
}

.C_CardsList.all-active .M_CardCover:nth-child(4)[data-genre="strategy"],
.M_CardCover.active:nth-child(4)[data-genre="strategy"] { 
  background-image: url(./images/Civilization.png);
}

.M_CardCover:nth-child(5) {
  grid-area: 2 / 2 / 3 / 3;
}

.C_CardsList.all-active .M_CardCover:nth-child(5)[data-genre="simulation"],
.M_CardCover.active:nth-child(5)[data-genre="simulation"] { 
  background-image: url(./images/SimCity_green.png);
}

.M_CardCover:nth-child(6) {
  grid-area: 2 / 3 / 3 / 4;
}

.C_CardsList.all-active .M_CardCover:nth-child(6)[data-genre="action"],
.M_CardCover.active:nth-child(6)[data-genre="action"] { 
  background-image: url(./images/Pacman.png);
}

.M_CardCover:nth-child(7) {
  grid-area: 2 / 4 / 3 / 5;
}

.C_CardsList.all-active .M_CardCover:nth-child(7)[data-genre="puzzle"],
.M_CardCover.active:nth-child(7)[data-genre="puzzle"] { 
  background-image: url(./images/Tetris.png);
}

.M_CardCover:nth-child(8) {
  grid-area: 3 / 1 / 4 / 2;
}

.C_CardsList.all-active .M_CardCover:nth-child(8)[data-genre="action"],
.M_CardCover.active:nth-child(8)[data-genre="action"] { 
  background-image: url(./images/Prince_of_Persia.png);
}

.M_CardCover:nth-child(9) {
  grid-area: 3 / 2 / 4 / 3;
}

.C_CardsList.all-active .M_CardCover:nth-child(9)[data-genre="strategy"],
.M_CardCover.active:nth-child(9)[data-genre="strategy"] { 
  background-image: url(./images/Warcraft.png);
}

.M_CardCover:nth-child(10) {
  grid-area: 3 / 3 / 4 / 4;
}

.C_CardsList.all-active .M_CardCover:nth-child(10)[data-genre="role-playing_games"],
.M_CardCover.active:nth-child(10)[data-genre="role-playing_games"] { 
  background-image: url(./images/Final_Fantasy.png);
}

.M_CardCover:nth-child(11) {
  grid-area: 3 / 4 / 4 / 5;
}

.C_CardsList.all-active .M_CardCover:nth-child(11)[data-genre="action"],
.M_CardCover.active:nth-child(11)[data-genre="action"] { 
  background-image: url(./images/Mortal_Kombat.png);
}

.M_CardCover:nth-child(12) {
  grid-area: 4 / 1 / 5 / 2;
}

.C_CardsList.all-active .M_CardCover:nth-child(12)[data-genre="adventure"],
.M_CardCover.active:nth-child(12)[data-genre="adventure"] { 
  background-image: url(./images/Castlevania.png);
}

.M_CardCover:nth-child(13) {
  grid-area: 4 / 2 / 5 / 3;
}

.C_CardsList.all-active .M_CardCover:nth-child(13)[data-genre="adventure"],
.M_CardCover.active:nth-child(13)[data-genre="adventure"] { 
  background-image: url(./images/Resident_Evil.png);
}

.M_CardCover:nth-child(13) a {
  color: #000000;
}

.M_CardCover:nth-child(14) {
  grid-area: 4 / 3 / 5 / 4;
}

.C_CardsList.all-active .M_CardCover:nth-child(14)[data-genre="action"],
.M_CardCover.active:nth-child(14)[data-genre="action"] { 
  background-image: url(./images/Mega_Man.png);
}

.M_CardCover:nth-child(14) a {
  color: #000000;
}

.M_CardCover:nth-child(15) {
  grid-area: 4 / 4 / 5 / 5;
}

.C_CardsList.all-active .M_CardCover:nth-child(15)[data-genre="adventure"],
.M_CardCover.active:nth-child(15)[data-genre="adventure"] { 
  background-image: url(./images/The_Legend_of_Zelda.png);
}

.M_CardCover:nth-child(15) a {
  color: #000000;
}

.M_CardCover:nth-child(16) {
  grid-area: 5 / 1 / 6 / 2;
}

.C_CardsList.all-active .M_CardCover:nth-child(16)[data-genre="adventure"],
.M_CardCover.active:nth-child(16)[data-genre="adventure"] { 
  background-image: url(./images/The_Secret_of_Monkey_Island.png);
}

.M_CardCover:nth-child(17) {
  grid-area: 5 / 2 / 6 / 3;
}

.C_CardsList.all-active .M_CardCover:nth-child(17)[data-genre="action"],
.M_CardCover.active:nth-child(17)[data-genre="action"] { 
  background-image: url(./images/Spider-man.png);
}

.M_CardCover:nth-child(18) {
  grid-area: 5 / 3 / 6 / 4;
}

.C_CardsList.all-active .M_CardCover:nth-child(18)[data-genre="simulation"],
.M_CardCover.active:nth-child(18)[data-genre="simulation"] { 
  background-image: url(./images/Tamagotchi.png);
}

.M_CardCover:nth-child(19) {
  grid-area: 5 / 4 / 6 / 5;
}

.C_CardsList.all-active .M_CardCover:nth-child(19)[data-genre="simulation"],
.M_CardCover.active:nth-child(19)[data-genre="simulation"] { 
  background-image: url(./images/The_Sims.png);
}

.M_CardCover:nth-child(20) {
  grid-area: 6 / 1 / 7 / 2;
}

.C_CardsList.all-active .M_CardCover:nth-child(20)[data-genre="simulation"],
.M_CardCover.active:nth-child(20)[data-genre="simulation"] { 
  background-image: url(./images/Need_For_Speed.png);
}

.M_CardCover:nth-child(21) {
  grid-area: 6 / 2 / 7 / 3;
}

.C_CardsList.all-active .M_CardCover:nth-child(21)[data-genre="adventure"],
.M_CardCover.active:nth-child(21)[data-genre="adventure"] { 
  background-image: url(./images/Half-Life.png);
}

.M_CardCover:nth-child(22) {
  grid-area: 6 / 3 / 7 / 5;
}

.C_CardsList.all-active .M_CardCover:nth-child(22)[data-genre="adventure"],
.M_CardCover.active:nth-child(22)[data-genre="adventure"] { 
  background-image: url(./images/Sonic_the_Hedgehog.png);
}

/*блок с фильтрами*/

.С_GamesListContentFilters {
  margin: 20px 20px 0 23px;
  display: flex;
  flex-wrap: wrap;
  max-width: 545px;
  height: 306px;
  gap: 20px;
  float: right;
}

.A_FilterButton {
  display: inline-block;
  color: #000000;
  border: 1px solid #ffffff;
  border-radius: 10px;
  text-align: center;
  outline: none;
  text-decoration: none;
}

.A_FilterButton:hover,
.A_FilterButton:active {
  background-color: #fff;
}

.filter_paragraph:hover {
  color: #000000;
}

.filter_paragraph {
  font-family: 'TT Hoves';
  font-style: normal;
  font-weight: 300;
  font-size: 26px;
  line-height: 1;
  color: #ffffff;
  padding: 10px 110px 14px 110px;
}

.filters-list__button--third p {
  padding: 10px 226px 14px 226px;
}

.filters-list__button--fourth p {
  padding: 10px 120px 14px 120px;
}

.filters-list__button--fifth p {
  padding: 10px 132px 14px 132px;
}

.filters-list__button--sixth p {
  padding: 10px 98px 14px 98px;
}
