.games {
  background-color: #000000;
}

/*оболочка*/
.wrapper {
  max-width: 1728px;
  padding: 0;
  margin: 0 auto;
}

/*большой заголовок с линиями*/

.games-cover {
  position: relative;
  margin: 12px 0 0 20px;
}

.games-cover-img {
  position: absolute;
  z-index: 2;
  top: 30px;
  right: 71px;
}

.games-cover__title {
  font-family: 'TT Hoves';
  font-style: italic;
  font-weight: 275;
  font-size: 196px;
  letter-spacing: 0.01em;
  color: #ffffff;
  margin: 0;
}

.games-cover__separator {
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
  left: 0;
}

.games-cover__separator:nth-of-type(1) {
  top: 68px;
}

.games-cover__separator:nth-of-type(2) {
  top: 169px;
}

.games-cover__separator:nth-of-type(3) {
  top: 265px;
}

.games-cover__separator:nth-of-type(4) {
  top: 365px;
}

.games-cover__separator:nth-of-type(5) {
  top: 461px;
}

.games-cover__separator:nth-of-type(6) {
  top: 561px;
}

.games-cover__separator:nth-of-type(7) {
  top: 657px;
}

.games-cover__separator:nth-of-type(8) {
  top: 757px;
}

.games_list_container {
  display: flex;
}

.games-list {
  max-width: 972px;
  margin: 20px 0 20px 20px;
  display: grid;
  grid-template-columns: repeat(4, 228px);
  grid-template-rows: repeat(6, 228px);
  gap: 20px;
}

.games-list__element {
  display: flex;
  position: relative;
}

.games-list__paragraph {
  font-family: 'TT Hoves';
  font-style: normal;
  font-weight: 300;
  font-size: 26px;
  line-height: 1;
  color: #ffffff;
  margin: 0;
  padding: 12px 0 0 21px;
}

.games-list__element:nth-of-type(1) {
  grid-area: 1 / 1 / 2 / 2;
  align-self: center;
}

.games-list__element:nth-of-type(2) {
  grid-area: 1 / 2 / 2 / 3;
  background-color: #5ecd9c;
  border-radius: 20px;
}

.games-list__element:nth-of-type(3) {
  grid-area: 1 / 3 / 2 / 4;
  background-color: #265bee;
  border-radius: 20px;
}

.games-list__element:nth-of-type(4) {
  grid-area: 1 / 4 / 2 / 5;
  background-color: #f0a1c1;
  border-radius: 20px;
}

.games-list__element:nth-of-type(5) {
  grid-area: 2 / 1 / 3 / 2;
  background-color: #e93323;
  border-radius: 20px;
}

.games-list__element:nth-of-type(6) {
  grid-area: 2 / 2 / 3 / 4;
  align-self: center;
}

.games-list__element:nth-of-type(7) {
  grid-area: 2 / 4 / 3 / 5;
  background-color: #5ecd9c;
  border-radius: 20px;
}

.games-list__element:nth-of-type(8) {
  grid-area: 3 / 1 / 4 / 2;
  align-self: center;
}

.games-list__element:nth-of-type(9) {
  grid-area: 3 / 2 / 4 / 3;
  background-color: #fdf050;
  border-radius: 20px;
}

.games-list__element:nth-of-type(9) p {
  color: #000000;
}

.games-list__element:nth-of-type(10) {
  grid-area: 3 / 3 / 4 / 4;
  background-color: #f0a1c1;
  border-radius: 20px;
}

.games-list__element:nth-of-type(11) {
  grid-area: 3 / 4 / 4 / 5;
  background-color: #aa86d4;
  border-radius: 20px;
}

.games-list__element:nth-of-type(12) {
  grid-area: 4 / 1 / 5 / 2;
  background-color: #f0a1c1;
  border-radius: 20px;
}

.games-list__element:nth-of-type(13) {
  grid-area: 4 / 2 / 6 / 3;
  align-self: center;
}

.games-list__element:nth-of-type(14) {
  grid-area: 4 / 3 / 5 / 4;
  background-color: #265bee;
  border-radius: 20px;
}

.games-list__element:nth-of-type(15) {
  grid-area: 4 / 4 / 5 / 5;
  background-color: #5ecd9c;
  border-radius: 20px;
}

.games-list__element:nth-of-type(16) {
  grid-area: 5 / 1 / 6 / 2;
  background-color: #aa86d4;
  border-radius: 20px;
}

.games-list__element:nth-of-type(17) {
  grid-area: 5 / 3 / 6 / 4;
  background-color: #e93323;
  border-radius: 20px;
}

.games-list__element:nth-of-type(18) {
  grid-area: 5 / 4 / 6 / 5;
  background-color: #fdf050;
  border-radius: 20px;
}

.games-list__element:nth-of-type(18) p {
  color: #000000;
}

.games-list__element:nth-of-type(19) {
  grid-area: 6 / 1 / 7 / 2;
  background-color: #265bee;
  border-radius: 20px;
}

.games-list__element:nth-of-type(20) {
  grid-area: 6 / 2 / 7 / 3;
  background-color: #5ecd9c;
  border-radius: 20px;
}

.games-list__element:nth-of-type(21) {
  grid-area: 6 / 3 / 7 / 5;
  align-self: center;
}

.games-arrow {
  position: absolute;
  right: 23px;
  bottom: 15px;
}

/*блок с фильтрами*/
/*не кнопки с ценностями*/

.filters-list {
  margin: 20px 20px 0 22px;
  display: flex;
  flex-wrap: wrap;
  max-width: 690px;
  height: 282px;
  gap: 20px;
  margin-bottom: 22px 20px;
  float: right;
}

.filters-list__button {
  display: inline-block;
  color: #000000;
  border: 1px solid #ffffff;
  border-radius: 10px;
  text-align: center;
  outline: none;
  text-decoration: none;
}

.filters-list__button:hover,
.filters-list__button:active {
  background-color: #fff;
}

.filter_paragraph:hover {
  color: #000000;
}

.filter_paragraph {
  font-family: 'TT Hoves';
  font-style: normal;
  font-weight: 300;
  font-size: 26px;
  line-height: 1;
  color: #ffffff;
  padding: 10px 110px 14px 110px;
}

.filters-list__button--third p {
  padding: 10px 226px 14px 226px;
}

.filters-list__button--fourth p {
  padding: 10px 120px 14px 120px;
}

.filters-list__button--fifth p {
  padding: 10px 132px 14px 132px;
}

.filters-list__button--sixth p {
  padding: 10px 98px 14px 98px;
}
