@import 'wireframe.scss';

/* ----------- Header ---------------- */

.header {
  display: flex;
  padding: 25px 24px 20px;
  background-color: #000000;
  border-bottom: 1px solid white;
  position: fixed;
  z-index: 10;
  width: 100%;
  top: 0;
}

.header__logo {
  opacity: 0;
}

.wrapper--header {
  display: flex;
  justify-content: space-between;
}

.header__link {
  margin: 0 0 0 24px;
}

.navigation {
  margin: 0 100px 0 auto;
}

.navigation-list {
  margin: 0;
  padding: 4px 0 0 0;
  list-style: none;
  display: flex;
}

.navigation-list__item {
  font-family: 'TT Hoves';
  font-style: normal;
  font-weight: 300;
  font-size: 26px;
  line-height: 32px;
  margin: 0px 159px 0 0;
  position: relative;
}

.navigation-list__item::before {
  position: absolute;
  content: '';
  height: 2px;
  top: 16px;
  left: 73px;
  background-color: #ffffff;
}

.navigation-list__item:first-child {
  margin: 0 210px 0 0;
}

.navigation-list__item:first-child::before {
  width: 180px;
}

.navigation-list__item:nth-child(2) {
  margin: 0 109px 0 0;
}

.navigation-list__item:nth-child(2):before {
  width: 72px;
  left: 165px;
}

.navigation-list__item:nth-child(3) {
  margin: 0 173px 0 0;
}

.navigation-list__item:nth-child(3):before {
  width: 136px;
  left: 99px;
}

.navigation-list__item:last-child {
  margin: 0;
}

.navigation-list__link {
  text-decoration: none;
  text-transform: lowercase;
  color: #ffffff;
}
