

.A_HaderLogo {
    margin: 16px 0 0 0;
}

.A_NavListItem {
    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 1;
    margin: 0px 159px 0 0;
    position: relative;
}

.A_NavListItem::before {
    position: absolute;
    content: '';
    height: 2px;
    top: 16px;
    left: 85px;
    background-color: #ffffff;
}

.A_NavListItem:first-child {
    margin: 0 222px 0 0;
}

.A_NavListItem:first-child::before {
    width: 188px;
}

.A_NavListItem:nth-child(2) {
    margin: 0 143px 0 0;
}

.A_NavListItem:nth-child(2):before {
    width: 113px;
    left: 181px;
}

.A_NavListItem:nth-child(3) {
    margin: 0px 198px 0 0;
}

.A_NavListItem:nth-child(3):before {
    width: 163px;
    left: 110px;
}

.A_NavListItem:last-child {
    margin: 0;
}

.A_GameSummaryTitle {
    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 50px;
    color: #FFFFFF;
    margin: 0;
}

.A_SummaryListItemLabel {
    position: relative;
    padding-right: 8px;
    background-color: #000000;
}

.A_SummaryListItemValue{
    flex-shrink: 0;
    width: 282px;
}

.A_GameNoteCardTitle {
    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 45px;
    color: #265BEE;
    margin: 0 0 51px 0px;
}

.A_GameNoteCardText {
    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 300;
    font-size: 26px;
    line-height: 33px;
    color: #000000;
    margin: 0 0 18px 0;
}

.A_GameNoteCardText:last-of-type {
    margin: 0;
}


.A_GameNoteCardFooterLogo {

}

.A_GameNoteCardFooterText {
    font-family: 'TT Hoves';
    font-style: italic;
    font-weight: 300;
    font-size: 22px;
    line-height: 28px;
    color: #FFFFFF;
    margin: 0;
}
     
.A_MarqueeText {
    display:inline-block;
    padding-left:100%;

    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 1;
    color: #FFFFFF;


    -webkit-animation: marquee 30s infinite linear;
    animation: marquee 30s infinite linear;
}
     
@-webkit-keyframes marquee {
    0%{-webkit-transform: translate(0, 0);}
    100%{-webkit-transform: translate(-100%, 0);}
}

@keyframes marquee{
    0%{transform: translate(0, 0);}
    100%{transform: translate(-100%, 0)}
}

.A_GameListItem {
    height: 246px;
    gap: 20px;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    padding: 14px 0 0 22px;
}

.A_GameListItem:nth-of-type(2) {
    background-image: url(../images/The_Sims.png);
}

.A_GameListItem:nth-of-type(3) {
    background-image: url(../images/SimCity.png);
}


.A_FooterFeedback {
    display: flex;
    flex-direction: column;
}

.A_FooterAuthorsTitle,
.A_FooterSocialTitle,
.A_FooterDonateTitle {
    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 31px;
    color: #FFFFFF;
    margin: 0;
}

.A_FooterAuthorsListAuthor {
    display: flex;
    align-items: center;
    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 1;
    color: #FFFFFF;
    margin: 0 0 15px 0;
}

.A_FooterSocialListItemLink,
.A_FooterDonateListItemLink {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
}

.A_FooterSocialListItemLink span,
.A_FooterDonateListItemLink span {
    margin: 0;
}

.A_CopyrightText {
    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 1;
    color: #FFFFFF;
    margin: 0;
}

/* Адаптив под 1512 */

@media(max-width: 1512px) {
/*заголовок саммари game_note*/
.A_GameSummaryTitle {
    font-size: 36px;
    line-height: 45px;
}

.A_GameListItem {
    height: 228px;
    gap: 20px;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    padding: 12px 0 0 21px;
}

}